/* border: 2px solid #26c7ea;
border-radius: 35px 0;
width: 141px;
height: 41px;
background-color: #0b0e66;
color: #26c6ea
кнопка увійти */
:root {
    --font-family: "Inter", sans-serif;
    --second-family: "HeadlandOne", sans-serif;
    --third-family: "Hammersmith One", sans-serif;
}
.body {
    font-family: var(--font-family);
    font-weight: 400;
    margin: 0 auto;
    max-width: 1440px;
}
.container {
    display: flex;
    width: 1032px;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    background-image: url(../images/man-on-bird.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
}
.menu-link {
font-weight: 300;
font-size: 20px;
text-align: center;
color: #fff;
}
.login {
border: 2px solid #26c7ea;
border-radius: 35px 0;
width: 141px;
height: 41px;
background-color: #0b0e66;
color: #26c6ea
}
.main {
    margin: 0 auto;
}
.main-big-text {
    background-image: url(../images/man.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
height: 730px;
}
.main-big-text-their {
font-size: 20px;
color: #fff;
}
.main-big-text-our {
font-size: 20px;
color: #fff;
}
.join {
border: 3px solid #26c7ea;
border-radius: 45px 0;
width: 260px;
height: 80px;
background: #0b0e66;
color: #26c7ea;
}
.first-sentence {
    background-image: url(../images/birdandtwosticks.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 350px;
}
.first-sentence-title {
font-size: 36px;
text-align: justify;
color: #0a3853;
}
.first-sentence-text {
font-size: 24px;
text-align: center;
color: #000;
}
.trailer {
    background-image: url(../images/women.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 731px;
}
.trailer-text {
border: 3px solid #26c7ea;
border-radius: 45px 0;
width: 260px;
height: 80px;
background: #0b0e66;
color: #26c7ea;
}
.second-sentence {
    background-image: url(../images/birdandtwosticks.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 350px;
}
.second-sentence-title {
font-size: 36px;
text-align: justify;
color: #141414;
}
.second-sentence-text {
font-size: 24px;
text-align: justify;
color: #000;
}
.learning {
    background-image: url(../images/lifting-world.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 704px;
}
.learning-title {
    font-family: var(--second-family);
font-size: 32px;
text-align: justify;
color: #141414;
}
.learning-list-our {
    font-family: var(--second-family);
font-size: 24px;
line-height: 100%;
text-align: justify;
color: #141414;
}
.learning-list-their {
    font-family: var(--second-family);
font-size: 24px;
line-height: 100%;
text-align: justify;
color: #000;
}
.learning-list-left {
    background-image: url(../images/stick-left.png);
    background-repeat: no-repeat;
}
.learning-list-right {
    background-image: url(../images/stick-right.png);
    background-repeat: no-repeat;
}
.learning-list-center {
    background-image: url(../images/birdandtwosticks.png);
    background-repeat: no-repeat;
}
.third-sentence {
    background-image: url(../images/birdandtwosticks.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 350px;
}
.third-sentence-title{
font-size: 36px;
text-align: justify;
color: #141414;
}
.third-sentence-text {
font-size: 24px;
text-align: justify;
color: #000;
}
.footer {
    background-image: url(../images/man-on-bird.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 223px;
}
.footer-list {
font-size: 20px;
text-align: justify;
color: #fff;
}
.footer-copyright {
font-size: 14px;
text-align: justify;
color: #fff;
}